name: ci

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install yt-dlp
        run: |
          python -m pip install --upgrade pip
          pip install -U yt-dlp

      - name: Download videos
        run: |
          yt-dlp -a playlist.txt

      - name: Commit downloaded files
        run: |
          git config user.email "justjavac@gmail.com"
          git config user.name "迷渡"
          git add .
          git commit -m "download youtube video" || echo "Nothing to commit"
          git push
